.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #ffffff ;
    color:black;
    font-size: 2rem;
}

.card-center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
    margin-top: 10%;
}
.card{
    border-color: #212529;
}
.card-header{
    background-color: #212529;
    color: #ffffff;
    text-align: center;
}